<fieldset>
	<legend>Account Information</legend>
	
	<p>
		<%= text_field :email, :label => "Email Address" %>
	</p>
</fieldset>

<fieldset>
	<p>
		<%= password_field :password, :label => "Password" %>
	</p>
	
	<p>
		<%= password_field :password_confirmation, :label => "Change Password" %>
	</p>
</fieldset>